<!DOCTYPE html>
<html>

<head>
    <html lang="fr">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <nav>
            <ul class="header">
                <li><img src="{{ asset('img/symfony.svg')}}" alt="" width="50px"></li>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_article_index') }}">Articles</a></li>

                {% if app.user %}
                <li>
                    <p>Bonjour {{ app.user.userIdentifier }}</p>
                </li>
                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                {% else %}
                <li><a id="btn-signup" href="{{ path('app_register') }}">S'inscrire</a></li>
                <li><a id="btn-login" href="{{ path('app_login') }}">Connexion</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock %}

    
        {% block message %}
        <div>
        {% for alert in app.flashes('success') %}
        {{alert}}
        {% endfor %}
        </div>
        {% endblock %}

    {% block body %}

    {% endblock %}
    {% block footer %}
    {# <footer>
        <nav>
            <ul class="footer">
                <li><a href="#">Footer</a></li>
                <li><a href="#">Footer</a></li>
                <li><a href="#">Footer</a></li>
                <li><a href="#">Footer</a></li>
            </ul>
        </nav>
    </footer> #}
    {% endblock %}
</body>

</html>