{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div>
    {{form_errors(form.titre)}}
</div>
{# {{ form_widget(form) }} #}
{{ form_row(form.titre, {'attr':{'class':'input-article','pladceholder':"Titre"}}) }}
{{ form_row(form.resume_contenu, {'attr':{'class':'input-article','placeholder':"Placer un court résumer ici..."}}) }}
{{ form_row(form.contenu, {'attr':{'class':'input-article','placeholder':"Placer votre contenu ici..."}}) }}
{# {{ form_row(form.user, {'attr':{'class':'input-article'}}) }} #}
{{ form_row(form.image, {'attr':{'class':'input-article'}}) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}